
html {
    background-color: #eeeeee;
    color: #333333;
    font-family: arial,sans-serif;
    letter-spacing: 0.1em;
}
body {
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
}
.small {
    font-size: 50%;
}
header {
    color: #999999;
    font-size: 2rem;
    height: 2em;
    line-height: 2em;
    text-align: center;
}
header > a.button {
    color: inherit;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 1.5em;
    height: 1.333em;
    text-decoration: none;
    width: 1.333em;
  filter: grayscale(100%);
}

header > a.button:hover {
	filter: grayscale(0%);
}

header > .button.left {
    float: left;
}
header > .button > img {
    height: 70%;
    margin-top: 15%;
}

pre.code,
code {
	background-color: #ccc;
}
pre.code {
	padding-bottom: 1em;
}

#open-edit {
    font-weight: bold;
}
header > h1 {
    font-size: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 0 0 1em;
}
#timer-title {
    clear: both;
  text-align: center;
}

#timer-timer {
    font-size: 5em;
    margin: 0.25em 0 1em;
    text-align: center;
}
@media (max-width: 550px) {
#timer-timer {
    font-size: 4.5em;
}
}
@media (max-width: 500px) {
#timer-timer {
    font-size: 4em;
}
}
@media (max-width: 450px) {
#timer-timer {
    font-size: 3.5em;
}
}
@media (max-width: 400px) {
#timer-timer {
    font-size: 3em;
}
}
@media (max-width: 350px) {
#timer-timer {
    font-size: 2.5em;
}
}
@media (max-width: 300px) {
#timer-timer {
    font-size: 2em;
}
}
#edit ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#edit ul.list {
    list-style: initial;
    padding: 0 0 0 1em;
}
#edit li {
    clear: both;
}
#edit label {
    display: block;
    line-height: 2em;
    padding: 1em 1em 0;
}
#edit label span {
    display: block;
}
#edit input {
    box-sizing: border-box;
    display: block;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
}
div.main h1, div.main p {
    padding: 0 1em;
}
div.main p img {
	height: 1.5em;
  vertical-align: middle;
}

footer {
    font-size: 75%;
  padding: 1em 0;
}
footer p {
    padding: 0 1em;
}

#date-picker {
    background-color: #dddddd;
}
#date-picker .datepicker-body {
    height: 8.1em;
}
#date-picker .datepicker-header {
    height: 1em;
}
#date-picker .datepicker-header > div {
    float: left;
}
#date-picker .datepicker-header .datepicker-leftarrow,
#date-picker .datepicker-header .datepicker-rightarrow {
    width: 20%;
}

#date-picker .datepicker-header .datepicker-leftarrow img,
#date-picker .datepicker-header .datepicker-rightarrow img{
    height: 1em;
}

#date-picker .datepicker-header .datepicker-title {
    width: 60%;
}
#date-picker .datepicker-header .datepicker-leftarrow,
#date-picker .datepicker-header .datepicker-rightarrow,
#date-picker .datepicker-header .datepicker-title {
    cursor: pointer;
    text-align: center;
}
#date-picker .datepicker-week {
    clear: both;
}
#date-picker .datepicker-day {
    cursor: pointer;
    float: left;
    font-size: 0.9em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    width: 14.2%;
}
#date-picker .datepicker-othermonth {
    color: #cccccc;
}
#date-picker .datepicker-dayselected {
    color: #ff0000;
}
#time-picker {
    position: relative;
}
#time-picker .timepicker-block {
    float: left;
    margin-left: 6%;
    text-align: center;
    width: 42%;
}
#time-picker .timepicker-plus,
#time-picker .timepicker-minus,
#time-picker .timepicker-value {
    cursor: pointer;
}
#time-picker .timepicker-plus,
#time-picker .timepicker-minus {
    height: 2em;
    line-height: 2em;
  font-size: 2em;
}
#time-picker .timepicker-value {
  font-size: 1.6em;
  height: 1.5em;
  line-height: 1.5em;
    background-color: #ffffff;
    border: medium none;
    border-radius: 0.2em;
    text-align: center;
}
#date-picker, #time-picker {
    font-size: 1.2em;
    padding: 1%;
    position: relative;
}
@media (orientation: landscape) {
#date-picker, #time-picker {
    float: left;
    margin: 1em 5%;
    width: 38%;
}
}
@media (orientation: portrait) {
#date-picker, #time-picker {
    width: 98%;
}
}
#color-picker {
    padding: 1em;
}
#color-picker .colorpicker-color {
    border-radius: 0.2em;
    cursor: pointer;
    float: left;
    font-size: 2em;
    height: 1em;
    margin: 0 1em 1em 0;
    position: relative;
    width: 1em;
}
#color-picker .colorpicker-color.selected::after {
    color: #eeeeee;
    content: "\2713";
    display: block;
    height: 100%;
    left: 0;
    outline: 1px solid;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
#share-link {
    box-sizing: border-box;
    width: 100%;
}
#share-buttoncontainer > * {
  cursor: pointer;
}
#share-buttoncontainer img {
	height: 2em;
  margin-right: 1em;
  filter: grayscale(100%);
}

#share-buttoncontainer img:hover {
	filter: grayscale(0%);
}

*.share-dialog {
    display: none;
  padding: 1em 1em 0 1em;
  width: 50%;
}
*.share-dialog.open {
	display: block;
  position: fixed;
  top: 25%;
  left: 25%;
  background-color: white;
}

*.share-dialog div.close {
	color: #fff;
  font-weight: bold;
  background-color: hsl(0, 70%, 55%);
  text-align: center;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.4em;
  border-radius: 1em;
  margin: 1em auto;
  cursor: pointer;
  font-size: 1.4em;
}

#qrcode {
    display: block;
  margin: 0 auto;
}
#qrcode > * {
	margin: 0 auto;
}

#advertising {
    text-align: center;
}








